/**********fonte***********/
/*@font-face {
    font-family: 'Axis';
    src: url('/fontes/AxisExtrabold.otf');
}*/
*{font-family: 'calibri', sans-serif;}

/*------ COR DA FONTE DO HEADER------ */
.nav__logo{
    font-size: 28px;
    font-weight: bold;
    color: black;
}

/*------MENU / MAIN------ */
.section-title{
    color: black;
}

.menu__container{
    grid-template-columns: repeat(4, 1fr);
    justify-content:center;
}

.bd-grid{
    display: grid;
    gap: 1.5rem;
}

.menu__content{
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(230, 230, 230);
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.295);
    padding: .75rem;
}

.menu__img{
    width: 150px;
    height: 150px;
    align-self: flex-end;
    margin-bottom: var(--mb-2);
    border-radius: 40%;
}
  
.menu__name{
    font-weight: var(--font-semi-bold);
    font-size: var(--normal-font-size);
    color: black;
}

/*-----IMAGEM DA ESCALA-----*/
#conteudo {
    scale: 80%;
}